
<!--batch-->
<dependency>
    <groupId>com.qlangtech.tis.plugins</groupId>
    <artifactId>tis-datax-common-plugin</artifactId>
</dependency>

<dependency>
    <groupId>com.qlangtech.tis.plugins</groupId>
    <artifactId>tis-datax-common-rdbms-plugin</artifactId>
</dependency>

<dependency>
    <groupId>com.qlangtech.tis.plugins</groupId>
    <artifactId>tis-datax-test-common</artifactId>
</dependency>

<dependency>
    <groupId>com.qlangtech.tis</groupId>
    <artifactId>tis-common</artifactId>
    <scope>provided</scope>
</dependency>
