<dependency>
    <groupId>com.qlangtech.tis.plugins</groupId>
    <artifactId>tis-flink-dependency</artifactId>
</dependency>


<dependency>
    <groupId>com.qlangtech.tis.plugins</groupId>
    <artifactId>tis-realtime-flink</artifactId>
    <version>${project.version}</version>
</dependency>

<dependency>
    <groupId>com.qlangtech.tis.plugins</groupId>
    <artifactId>tis-flink-cdc-common</artifactId>
    <version>${project.version}</version>
</dependency>


<dependency>
    <groupId>com.qlangtech.tis.plugins</groupId>
    <artifactId>tis-incr-test</artifactId>
</dependency>
